ul {
  list-style: none;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}
a {
  text-decoration: none;
}
.link-active{
  font-weight: 500;
  color: #fff;
}
.menu-text-color{
  color: #fff;
}
